<h2 align="center">Hypothesis Testing Using T-Test<h2>

The school management has introduced a new teaching method that claims that the average exam score improves due to this new way of teaching. Historically the average score has been 72 (i.e. population average). We have conducted a pilot test on a class of 20 students and we have their exam scores in exam_scores.csv file. Based on this conduct a hypothesis test to prove or reject the claim.

**NULL Hypothesis** - New teaching method doesn't increse the average exam score

**ALTERNATE Hypothesis** - New teaching method increses the average exam score

In [2]:
import pandas as pd

In [9]:
df = pd.read_csv("exam_scores.csv")
df.head()

      name  score
0    Rishi     78
1    Arjun     71
2  Lakshmi     68
3    Aditi     81
4    Aisha     85

In [10]:
from scipy import stats

population_mean = 72

# Performing a one-sample t-test for Class scores against the hypothesized population mean
t_stat_one_sample, p_value_one_sample = stats.ttest_1samp(df.score, population_mean, alternative="greater")

t_stat_one_sample, p_value_one_sample

(2.228523555325052, 0.019059543933267798)

**Hypothesis Testing Using Rejection Region**

In [11]:
t_critical = 1.729

t_stat_one_sample > t_critical

True

Since the calculated t statistics is above the critical value, we can reject the null hypothesis that there is no improvement due to a new teaching method. Hence alternative hypothesis that new teaching method indeed improve the grades is proven.

**Hypothesis Testing Using P Value**

In [12]:
significance_level = 0.05

p_value_one_sample < significance_level

True

Since the calculated p value for our sample is less that the significance level, we can reject the null hypothesis that there is no improvement due to a new teaching method. Hence alternative hypothesis that new teaching method indeed improve the grades is proven.