In [1]:
import pandas as pd
import numpy as np
from scipy import stats as st

In [2]:
control = pd.read_csv(r"C:\Users\HP\Maths and statistics course codebasics\files\chapter10_assets\11_z_test_AB_testing_coding\control_group.csv")
control.head()

  person_id  recovery_time_hrs
0      C001                4.4
1      C002                4.1
2      C003                3.2
3      C004                4.3
4      C005                4.9

In [3]:
test = pd.read_csv(r"C:\Users\HP\Maths and statistics course codebasics\files\chapter10_assets\11_z_test_AB_testing_coding\test_group.csv")
test.head()

  person_id  recovery_time_hrs
0      T001                3.7
1      T002                4.1
2      T003                3.7
3      T004                3.9
4      T005                3.7

In [10]:
control_mean = control.recovery_time_hrs.mean()
control_std = control.recovery_time_hrs.std()
control_size = control.shape[0]

control_mean , control_std , control_size

(4.000769230769231, 0.4795825306420973, 130)

In [11]:
test_mean = test.recovery_time_hrs.mean()
test_std = test.recovery_time_hrs.std()
test_size = test.shape[0]

test_mean , test_std , test_size

(3.9119999999999995, 0.3156778821085274, 100)

In [13]:
a = control_std**2 / control_size
b = test_std**2 / test_size

z_score = (control_mean - test_mean)/np.sqrt(a+b)
z_score

1.6879356404645995

### Using rejection region

In [14]:
alpha = 0.05
critical_z_value = st.norm.ppf(1-alpha)
critical_z_value

1.6448536269514722

In [15]:
z_score > critical_z_value

True

Reject null hypothesis

### Using p_value

In [16]:
p_value = 1 - st.norm.cdf(z_score)
p_value

0.045711792064650814

In [18]:
p_value < alpha

True

Reject null hypothesis