In [1]:
import numpy as np
import pandas as pd

# Null Hypothesis: Housing inflation is 10%
Alternate Hypothesis: Housing inflation is not 10%

For this test, we have collected a sample of 100 home prices inflation numbers. We will load that in pandas dataframe

In [2]:
df = pd.read_csv(r"C:\Users\HP\Maths and statistics course codebasics\files\chapter10_assets\3_z_test_housing_inflation\house_price_increase.csv")
df.head()

  house_id  price_increase_pct
0    NJ001                12.7
1    NJ002                11.3
2    NJ003                11.9
3    NJ004                13.2
4    NJ005                12.8

In [3]:
df.shape

(100, 2)

In [4]:
population_mean = 10
population_std_dev =4

In [5]:
sample_mean = df.price_increase_pct.mean()
sample_mean

11.0

In [6]:
standard_error = population_std_dev / np.sqrt(df.shape[0])
standard_error

0.4

In [7]:
z_score = (sample_mean - population_mean)/standard_error
z_score

2.5

In [8]:
alpha = 0.05 #alpha means significance level

### Z Test Using Rejection Region

In [9]:
from scipy import stats

z_critical = stats.norm.ppf(1-alpha/2)
z_critical

1.959963984540054

In [14]:
z_score , z_critical

(2.5, 1.959963984540054)

Since z_score > z_critical, we will reject the NULL hypothesis. This means the alternate hypothesis becomes true which means the inflation is indeed higher than 10%

### Z Test Using p-Value

In [15]:
p_value = 2*(1 - stats.norm.cdf(z_score))
p_value

0.012419330651552318

In [12]:
p_value , alpha

(0.006209665325776159, 0.05)

Since P value (0.006) is less than alpha ( significance level -> 0.05), we reject the null hypothesis. This means there is statistically significant evidence to support the claim that the inflation rate in house prices is higher than the reported 10%.